body{
	min-width:800px; /* suppose you want minimun width of 1000px */
	width: auto !important;  /* Firefox will set width as auto */
	width:800px;             /* As IE ignores !important it will set width as 1000px; */
}

section#coolTaxi{
	position: relative;
}

section#contact{
	color: white;
	text-align: center;
}
section#jaredContent label{
	border:1px solid;
	border-color:black;
	background-color: #0066FF;
	border-radius: 5px;
}
section#jaredBoxContent p{
	border:1px solid;
	border-color:black;
	background-color: #54545A;
	border-radius: 5px;
	
}
section#timBoxContent p{
	border:1px solid;
	border-color:black;
	background-color: #54545A;
	border-radius: 5px;
}
section#coolTaxi img{
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding-top: 0 !important;
	padding-right: 50px;
	padding-bottom: 50px;	
}
section#header{
	height: 110px;	
	text-align: center;
	overflow: hidden;	
	color:#FFFFFF;
	font-weight: bold;
	font-size: larger;
}

section#copyRight{
	
	text-align: center;
	color:#FFFFFF;
}

section#copyRight p{
	border:1px solid;
	border-color:black;
	background-color: #0066FF;
	border-radius: 10px;
	margin-right: 20px;
	margin-left: 20px;
}


form#stuffEnter{
	color: #FFFFFF;
	padding-bottom: 50px;
	padding-top: 0px;
	font-family: "Arial", "Verdana";
}
form#stuffEnter label{
	display:block;
	font-weight: bold;	
}

#position-field input{
	width:32px;
}

h1{
	border: 1px solid;
	border-color: black;
	background-color: #0066FF;
	border-radius: 10px;
	margin-right: 20px;
	margin-left: 20px;
}
h2{
	border: 1px solid;
	border-color: black;
	background-color: #0066FF;
	border-radius: 10px;
	margin-right: 20px;
	margin-left: 20px;
}
h3{
	
	border: 1px solid;
	border-color: black;
	background-color: #0066FF;
	border-radius: 10px;
	margin-right: 20px;
	margin-left: 20px;

}
section#aboutUs{
	text-align: center;
	font-size: 20px 
}
section#innerBody{
	background-color: black;
	margin-bottom: 100px;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 10px;
}
section#navigation a{
	color: #FFFFFF;
	text-decoration: none;
}
section#navigation li{
	padding-left: 5px;
}
section#navigation{
	float: left;
	display:block;
	background-color: #54545A;
	margin-left: 10px;
	margin-right: 50px;
	height: 0px;
	margin-bottom: 150px;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 120px;
	padding-left: 1px;
	padding-right: 10px;
	border: 1px solid;
	border-color: #0066FF;
	border-radius: 8px;
	font-family: "Arial", "Verdana";
	font-size: 16px;
	color: #0066FF;
}
section#contactContent a{
	color: white;
	text-decoration: underline;
}
section#contactContent label{
	display: inline;
	padding: 10px 40px;
	border:1px solid;
	border-color:black;
	background-color: #54545A;
	border-radius: 5px;
}
section#contactContent{
	border: 1px;
	padding-top: 20px;
	padding-bottom: 100px;
	padding-left: 1px;
	padding-right: 10px;
}
.inline-block{
	display: inline-block;
}
.block{
	display: block;
}
.fLeft{
	float:left;
}
body{
	margin: 0 !important;
	padding: 0 !important;
	background-image: url('images/chromeBackground2.jpg');
}