html,body{
	margin: 0 !important;
    padding: 0 !important;
	height: 100%;
	font-size: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}
#canvas{
	display: block;
	border: 15px solid red;
	margin: 0 auto;
}